* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Inicio*/

header {
    background-image: url(Images/Img-button-spore.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    padding: 10vh;
    height: 60vh;
}

header h1 {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 10vh;
}

/*Header Fim*/
/*Main Inicio*/
main h2 {
    margin-left: 40vh;
    margin-top: 10vh;
    font-size: 5vh;
}

main h4 {
    margin-left: 40vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

main img {
    width: 120vh;
    height: 60vh;
    margin-left: 40vh;
}

main p {
    margin-left: 40vh;
    margin-top: 2vh;
    font-size: 2vh;
    width: 120vh;
}
main p:first-of-type{
    background-color: #ff9100;
}
main p:last-of-type{
    background-color: #7fffd4;
}

/*Main fim*/
/*Footer Inicio*/

footer {
    display: flex;
    justify-content: space-around;
    padding-left: 10vh;
    padding-right: 10vh;
    margin-top: 10vh;
    background-color: #cbcbcb;
}

footer section {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

footer h3 {
    margin-bottom: 1vh;
    background-color: crimson;
}

footer section:first-of-type h3{
    background-color: #7fffd4;
}

footer section:last-of-type h3{
    background-color: #85ff7f;
}

footer section img {
    width: 40vh;
    height: 20vh;
}

footer p {
    margin-bottom: 1vh;
    width: 40vh;
    font-size: 1.5vh;
    background-color: crimson;
}

footer section:first-of-type p{
    background-color:  #7fffd4;
}

footer section:last-of-type p{
    background-color: #85ff7f;
}

footer button {
    padding: 2vh;
    font-size: 2vh;
    border: none;
    border-radius: 2vh;
    background-color: #ff9100;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}

footer button:hover {
    background-color: #c36e00;
}

/*Footer fim*/